<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'library/css/bootstrap.min.css' %}">

    <title>{% block title %} {% endblock %}</title>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary border-bottom border-body sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bold;background: lightgrey;color: tomato">Phitron Library Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="font-weight: bold;">Home</a>
              </li>
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link active" href="/admin_login/" style="font-weight: bold;">Admin Login</a>
              </li>
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link active" href="/student_registration/" style="font-weight: bold;">Student Registration</a>
              </li>
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link active" href="/student_login/" style="font-weight: bold;">Student Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block body %}
      {% endblock %}
      <script src="{% static 'library/js/jquery.js' %}"></script>
      <script src="{% static 'library/js/popper.js' %}"></script>
      <script src="{% static 'library/js/bootstrap.min.js' %}"></script>

      {% block js %}
      {% endblock %}
    
  </body>
</html>