{% extends 'admin_navbar.html' %}
{% load static %}
{% block title %} Phitron Library Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <form method="POST"> {% csrf_token %}
    <div class="row mt-4">
        <div class="form-group col-md-6 mx-auto">
            <label><i style="font-weight: bold; background-color: lightgrey;">Name of Book</i></label>
            <input type="text" class="form-control mt-2" name="name" placeholder="Enter name of the Book" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6 mx-auto">
            <label><i style="font-weight: bold; background-color: lightgrey;">Name of Auther</i></label>
            <input type="text" class="form-control mt-2" name="author" placeholder="Enter name of the Author" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6 mx-auto">
            <label><i style="font-weight: bold;background-color: lightgrey;">ISBN No.</i></label>
            <input type="number" class="form-control mt-2" name="isbn" placeholder="Enter ISBN no of the book" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6 mx-auto">
            <label><i style="font-weight: bold; background-color: lightgrey;">Category</i></label>
            <input type="text" class="form-control mt-2" name="category" placeholder="Enter Category of the book" required>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-secondary mt-4" style="font-weight: bold;">Click to Add Book</button>
       </div>
</div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Book is added successfully.")
    document.location = "/show_books"
    {% endif %}
</script>
{% endblock %}